
  .container-cart {
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #272b34;
    width: 100%;
    height: 100vh;
    padding-bottom: 150px;
  }
  .wrapper-cart{
    margin-top: 60px;
  }
  .wrapper-cart .cart_box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 70px 5px 70px;
  }
  .wrapper-cart .container-cart .name { 
    width: 300px;
    font-size: 30px;
    color: rgba(255,255,255,0.8);
  }
  .wrapper-cart .container-cart .price { 
    font-size: 25px;
    color: rgba(255,255,255,0.6);
  }
  .wrapper-cart .wrapper-item{
    padding: 0px 10px 0px 10px;
  }
  .wrapper-cart  .left-side {
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 500px;
  }
  .wrapper-cart  .left-side .name{
    font-size: 20px;
    color: rgba(255, 255, 255, 0.9);
  }
  .wrapper-cart  .left-side .price{
    font-size: 20px;
    color: rgba(255, 255, 255, 0.9);
  }
  .wrapper-cart .left-side .cart_img{
    padding:5px;
  }
  .wrapper-cart .right-side {
    flex-direction: row;
    display: flex;
    align-items: center;
  }
  .wrapper-cart .right-side .last-price{
    text-align: center;
    width:100px;
    margin: 0px 30px 0px 30px;
    font-size: 25px;
    color: rgba(255,255,255,0.6);
  }
  .wrapper-cart .right-side .amount{
    width: 50px;
    text-align: center;
    font-size: 25px;
    color: rgba(255,255,255,0.6);
    margin: 0px 10px 0px 10px;
  }
  .wrapper-cart .cart_img {
    width: 150px;
    height: 150px;
  }
  .wrapper-cart .cart_img img {
    height: 100%;
  }
  .wrapper-cart .container-cart .total-price{
    padding: 5px 80px 5px 80px;
    font-size: 25px;
    color: rgba(255,255,255,0.6);
    text-align: right;
  }
  .wrapper-cart .cart_box .button {
    display: flex;
    align-items: center;
    background-color: rgba(255,255,255,0.3);
    font-weight: 400;
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    text-decoration: none;
    cursor: pointer;
      -webkit-user-select: none;
    user-select: none;
    background-color: #454c5a;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 1.5rem;
    transition: color .15s ease-in-out,
      background-color .15s ease-in-out,
      border-color .15s ease-in-out,
      box-shadow .15s ease-in-out;
  }
  .wrapper-cart .btn-group .button{
    width: 50px;
    display: flex;
    text-align: center;
    justify-content: center;
  }
  .wrapper-cart .btn-group .button:hover {
    background-color: #fe8033;
    color: #fff;
  }
  .total-price {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-right: 80px;
    color:rgba(255, 255, 255, 0.8)
  }
  .total-price .total-price-text{
    margin-bottom: 20px;
  }
  .wrapper-cart .button-payment {
    margin-top: 20px;
    align-items: center;
    width:200px;
    background-color: rgba(255,255,255,0.3);
    font-weight: 500;
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    text-decoration: none;
    cursor: pointer;
      -webkit-user-select: none;
    user-select: none;
    background-color: #454c5a;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 1.5rem;
    transition: color .15s ease-in-out,
      background-color .15s ease-in-out,
      border-color .15s ease-in-out,
      box-shadow .15s ease-in-out;
  }
  .wrapper-cart .button-payment:hover {
    background-color: #fe8033;
    color: #fff;
  }
  
