.amount-item{
  color: rgba(255, 255, 255, 0.8);
  font-size: 20px;
  margin-right: 40px;
  width:200px;
}
.right-side .total-payment-product{
  color: rgba(255, 255, 255, 0.8);
  font-size: 20px;
  width:100px;

}