.navbox{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 7px 25px;
    padding: 5px 50px 5px 50px;
}
.navbox .leftside {
    flex-direction: row;
    display: flex;
}
.navbox .rightside {
  display: flex;
  flex-direction: row; 
  justify-content: space-between;
  align-items: center;
  min-width: 300px;
  padding: 0px 20px;
}
.rightside .icon{
  color:rgba(255, 255, 255, 0.5);
  font-size: 20px;
}
.rightside .icon:hover{
  color:rgba(255, 255, 255, 0.8);
}
.wrapper-nav-item {
    margin-left: 40px;
    flex-direction: row;
    display: flex;
}
.nav-item {
    padding: 20px 20px;
    align-items: center;
    display: flex;
}
.nav-item:hover .item{
    color: rgba(255, 255, 255, 0.8);
}
.item{
  font-size: 20px;
    color: rgba(255, 255, 255, 0.5);
} 
.link{
    text-decoration: none;
}
.rightside .link{
    margin: 5px;
    text-decoration: none;
    box-sizing: border-box;
    padding: 10px;
}
.navbox .leftside .logo {
  display: flex;
  padding: 0px 20px 0px 20px;
  align-items: center;
    color: rgba(254, 128, 51, 0.9);
    font-family: 'Dancing Script', cursive;
    font-size: 35px;
}
.navbox .leftside .logo:hover {
    color: rgb(254, 128, 51, 1);
    -webkit-transform: scale(1.05);
        transform: scale(1.05);
}

.navbox .rightside .button{
    font-size: 15px;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 600;
}
.dropbtn {
    background-color: transparent;
    color: rgba(255, 255, 255, 0.5);
    border: none;
    cursor: pointer;
    border-radius: 10px;
  }
  .dropbtn div{
    font-size: 20px;
    color: rgba(255, 255, 255, 0.5);
  }
  .dropdown {
    position: relative;
    display: inline-block;
    
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(69, 76, 90, 0.3);
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgb(56, 61, 71, 0.5);
    z-index: 2; 
  }
  .dropdown-content button{
    background-color: rgb(39, 43, 52);
    min-width: 150px;
    font-size: 17px;
    padding: 10px 5px 10px 15px;
    text-align: left;
    text-decoration: none;
  }   
  .dropdown-content button:hover{
    background-color: rgb(56, 61, 71);
  }  
  .dropdown-content button .button-link{
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
  }    
  .logout{
    color: rgba(255, 255, 255, 0.5)
  }    
  .dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
  }
  .search{
    padding: 20px;
    display: flex;
    align-items: center;
  }
  
  .search-input{
    width:300px;
  }
