
  .in-column{
    display: flex;
    flex-direction: column;
  }
  .box .top .name-input{
    letter-spacing: 2px;
    font-size: 35px;
    color:rgba(255, 255, 255, 0.9);
    background-color:#272b34;
    border-top: 1px solid #272b34;
    border: none;
  }
  .box .top .type-input{
    margin-top: 5px;
    font-size: 15px;
    color:rgba(255, 255, 255, 0.6);
    background-color:#272b34;
    border: none;

  }

  .box .middle-price{
    flex-direction:column;
    background-color: #454c5a;
    padding: 10px 20px;
    display:flex;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .middle-price .price-input{
    margin-top: 5px;
    font-size: 15px;
    color:rgba(255, 255, 255, 1);
    background-color:#454c5a;
    font-size: 45px;
    border: none;
  }
  .description-input{
    margin-top: 5px;
    font-size: 15px;
    color:rgba(255, 255, 255, 0.7);
    background-color:#454c5a;
    border: none;
  }
  .middle-price .price{
    font-weight: 500px;
    font-size: 45px;
    color: rgba(255, 255, 255, 1);
  }
  .middle-price .icon{
    margin-right: 10px;
  }
  .middle-price button{
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 12px;
    -webkit-box-pack: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0.01em;
    padding: 17px 24px;
    background-color: rgb(32, 129, 226);
    border: 2px solid transparent;
    color: rgb(255, 255, 255);
    margin-right: 20px;
    width: 170px;
  }
  .middle-price .button-group{
    margin-top: 10px;
    margin-bottom:20px;
  }
  .wrapper-description {
    display:flex;
    flex-direction: column;
    margin-bottom:100px;
  }
  .wrapper-description .wrapper-title {
    display:flex;
    flex-direction: row;
    align-items: center;
  }
  .wrapper-title .icon {
    font-size: 30px;
    color: rgb(255, 255, 255);
    margin-right: 15px;
  }
  .wrapper-title .title {
    font-size: 25px;
    color: rgb(255, 255, 255);
  }
  .wrapper-description .detail-description {
    font-size: 17px;
    color: rgba(255, 255, 255, 0.7);
  }
  
  /* .box p{
    line-height: 1.5;
    margin: 15px 0;
    font-size: 20px;
    color:rgba(255, 255, 255, 0.7);
  } */
  @media (max-width: 500px){
    .thumb{
      height: 50px;
    }
    .thumb img{
      width: 50px;
    }
  }